.my-account-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60dvh;
    gap: 1.5rem;
    width: 1200px;
    margin: 100px auto;
}
.my-account-main-title-container {
    display: flex;
    align-self: center;
    width: fit-content;
}
.my-account-main-title {
    line-height: 3rem !important;
    font-size: clamp(3.5rem, 3.75vw, 4.5rem) !important;
}
.my-account-bento-grid {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.my-account-section-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem 1.4rem;
    gap: 1.5rem;
    height: fit-content;
    width: 400px;
    transition: all 0.3s ease;
}
.my-account-right-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.my-account-section-title-container {
    display: flex;
    justify-content: space-between;
}
.my-account-section-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.address-block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.my-account-input-label {
    font-size: .85rem;
    font-weight: 600;
    color: #7e7e7e;
}
.avatar-container {
    position: relative;
    margin: 0 auto;
}
.avatar-image {
    height: 127px;
    width: 127px;
    border-radius: 999px;

    &:hover {
        filter: brightness(.4);
    }
    &:hover + .avatar-edit-icon {
        display: inherit;
    }
}
.avatar-edit-icon {
    position: absolute;
    height: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -62%);
    color: white;
    display: none;

    &:hover {
        display: inherit;
    }
    &:hover ~ .avatar-image {
        filter: brightness(.4);
    }
}
.my-account-section-addresses-btn {
    font-family: inherit;
    font-size: .8rem;
    font-weight: 500;
    text-decoration: underline;
    background: transparent;
    color: #777;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    transition: color .1s ease-in-out;

    &:hover {
        color: var(--text-color);
    }
}