.my-account-main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 60dvh;
    gap: 1.5rem;
    width: fit-content;
    margin: 100px auto 120px auto;
    transition: width .7s cubic-bezier(.6,.05,.55,1);
}
.my-account-main-container.my-account-main-container-mid-size {
    width: 1200px;
    transition: width .7s cubic-bezier(.6,.05,.55,1);
}
.my-account-main-title-container {
    display: flex;
    align-self: center;
    width: fit-content;
}
.my-account-main-title {
    line-height: 3rem !important;
    font-size: clamp(3.5rem, 3.75vw, 4.5rem) !important;
}
.my-account-bento-grid {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.my-account-section-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem 1.4rem;
    gap: 1.5rem;
    height: fit-content;
    width: 400px;
    transition: all 0.3s ease;
}
.my-account-right-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.my-account-section-title-container {
    display: flex;
    justify-content: space-between;
}
.my-account-section-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.address-block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.my-account-input-label {
    font-size: .85rem;
    font-weight: 600;
    color: #7e7e7e;
}
.avatar-container {
    position: relative;
    width: 127px;
    height: 127px;
    margin: 0 auto 5px auto;
}
.avatar-image,
.profile-avatar-icon {
    height: 100%;
    width: 100%;
    border-radius: 999px;
    object-fit: cover;
    transition: filter 0.1s;
}
.avatar-edit-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
.avatar-edit-button-loading-no-display {
    display: none;
}
.avatar-edit-icon {
    height: 2rem;
    color: white;
    transition: transform 0.1s ease;
}
.avatar-container:hover .avatar-image,
.avatar-container:hover .profile-avatar-icon {
    filter: brightness(0.3);
}
.avatar-container:hover .avatar-image-loading-no-filter {
    filter: brightness(.7) !important;
}
.avatar-container:hover .avatar-edit-button {
    opacity: 1;
    pointer-events: auto;
}
.avatar-edit-button:hover .avatar-edit-icon {
    transform: scale(1.1);
}
.profile-avatar-icon {
    color: #777;
    border-radius: 999px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 127px;
    height: 127px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
} 
.my-account-section-addresses-btn {
    font-family: inherit;
    font-size: .8rem;
    font-weight: 500;
    text-decoration: underline;
    background: transparent;
    color: #777;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    transition: color .1s ease-in-out;

    &:hover {
        color: var(--text-color);
    }
}

@media screen and (max-width: 1660px) {
    .my-account-navbar-main-container {
        width: 1040px;
    }
    .wishlist-main-container {
        width: 1040px;
    }
}
@media screen and (max-width: 1177px) {
    .my-account-navbar-main-container {
        width: 700px;
        transform: translateY(17px);
        margin-bottom: 3.2rem;
    }
    .my-account-navbar-container::after {
        top: 320%;
    }
    .my-account-subtitle  {
        display: none;
    }
    .wishlist-main-container {
        width: 500px;
    }
}
@media screen and (max-width: 1000px) {
    .my-account-main-container {
        width: 700px;
        min-height: 56dvh;
        margin: 75px auto 95px auto;
    }
    .my-account-bento-grid {
        flex-direction: column;
    }
    .my-account-section-container {
        width: 100%;
    }
    .my-account-section-content {
        flex-direction: row;
        gap: 4rem;
    }
    .avatar-lg-device-container {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .my-account-main-container {
        min-height: 63dvh;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 837px) {
    .my-account-navbar-main-container {
        width: 600px;
    }
    .my-account-orders-main-container, .user-addresses-container {
        width: 500px;
    }
}
@media screen and (max-width: 785px) {
    .my-account-main-container, .my-account-bento-grid {
        width: 600px;
    }
    .my-account-section-content {
        flex-direction: column;
        gap: 1.5rem;
    }
}
@media screen and (max-width: 697px) {
    .my-account-navbar-main-container {
        width: 500px;
    }
    .my-account-navbar {
        gap: .5rem;
    }
    .my-account-navbar-link {
        font-size: .95rem;
    }
    .my-account-main-container, .my-account-bento-grid {
        width: 480px;
    }
}
@media screen and (max-width: 540px) {
    .my-account-navbar-main-container {
        width: 400px;
        margin-bottom: 2rem;
    }
    .my-account-navbar-container::after {
        top: 280%;
    }
    .my-account-navbar {
        gap: 0;
    }
    .my-account-navbar-link {
        font-size: .85rem;
        padding: 0 .62rem;
    }
    .my-account-main-container {
        margin: 30px auto;
    }
    .my-account-main-container, .my-account-bento-grid, .my-account-orders-main-container, .user-addresses-container {
        width: 350px;
    }
    .my-account-main-title {
        font-size: clamp(2.7rem, 3vw, 3.5rem) !important;
    }
    .order-code {
        font-size: .9rem;
    }
    .order-status {
        padding: .2rem .4rem;
        font-size: .75rem;
    }
    .order-details-summary {
        font-size: .8rem;
    }
    .order-total {
        font-size: .9rem;
    }
    .order-card-expanded-content {
        display: none;
    }
    .wishlist-main-container {
        width: 400px;
        gap: 20px;
    }
    .card-info {
        padding: 0;

        .card-title, .card-price {
            font-size: 1rem;
        }
        .card-category {
            font-size: .9rem;
        }
    }
}
@media screen and (max-width: 415px) {
    .my-account-main-container {
        align-items: initial;
    }
    .my-account-navbar-main-container {
        display: none;
    }
    .my-account-mobile-header-container {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        height: 75px;
        gap: 1rem;
    }
    .header-placeholder {
        visibility: hidden;
    }
    .my-account-mobile-header-account-main-page {
        margin-top: -6rem;
    }
    .my-account-chevron {
        font-size: 1.3rem;
        align-self: flex-start;
    }
    .my-account-mobile-upscale-title {
        font-size: 1.8rem;
    }
    .my-account-mobile-account-summary {
        display: flex;
        gap: 1.5rem;
        margin-top: -1rem;
    }
    .avatar-container {
        height: 80px;
        width: 80px;
        margin: 0;
    }
    .my-account-mobile-username {
        font-weight: 600;
    }
    .my-account-mobile-email {
        font-size: .9rem;
        color: var(--text-color-gray);
    }
    .my-account-mobile-menu-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 2.5rem 0 1rem 0;
    }
    .user-addresses-add-button {
    padding: 0.5rem .8rem;
    font-size: 0.85rem;
    }
    .address-selection-unit-heart-icon {
        transform: translateX(-0.02rem);
    }
    .my-account-section-shipping-data-title-container {
        flex-direction: column;
    }
}