.my-account-main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 60dvh;
    gap: 1.5rem;
    width: fit-content;
    margin: 100px auto 120px auto;
    transition: width .7s cubic-bezier(.6,.05,.55,1);
}
.my-account-main-container.my-account-main-container-mid-size {
    width: 1200px;
    transition: width .7s cubic-bezier(.6,.05,.55,1);
}
.my-account-main-title-container {
    display: flex;
    align-self: center;
    width: fit-content;
}
.my-account-main-title {
    line-height: 3rem !important;
    font-size: clamp(3.5rem, 3.75vw, 4.5rem) !important;
}
.my-account-bento-grid {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.my-account-section-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem 1.4rem;
    gap: 1.5rem;
    height: fit-content;
    width: 400px;
    transition: all 0.3s ease;
}
.my-account-right-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.my-account-section-title-container {
    display: flex;
    justify-content: space-between;
}
.my-account-section-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.address-block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.my-account-input-label {
    font-size: .85rem;
    font-weight: 600;
    color: #7e7e7e;
}
.avatar-container {
    position: relative;
    width: 127px;
    height: 127px;
    margin: 0 auto 5px auto;
}
.avatar-image,
.profile-avatar-icon {
    height: 100%;
    width: 100%;
    border-radius: 999px;
    object-fit: cover;
    transition: filter 0.1s;
}
.avatar-edit-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
.avatar-edit-button-loading-no-display {
    display: none;
}
.avatar-edit-icon {
    height: 2rem;
    color: white;
    transition: transform 0.1s ease;
}
.avatar-container:hover .avatar-image,
.avatar-container:hover .profile-avatar-icon {
    filter: brightness(0.3);
}
.avatar-container:hover .avatar-image-loading-no-filter {
    filter: brightness(.7) !important;
}
.avatar-container:hover .avatar-edit-button {
    opacity: 1;
    pointer-events: auto;
}
.avatar-edit-button:hover .avatar-edit-icon {
    transform: scale(1.1);
}
.profile-avatar-icon {
    color: #777;
    border-radius: 999px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 127px;
    height: 127px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
} 
.my-account-section-addresses-btn {
    font-family: inherit;
    font-size: .8rem;
    font-weight: 500;
    text-decoration: underline;
    background: transparent;
    color: #777;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    transition: color .1s ease-in-out;

    &:hover {
        color: var(--text-color);
    }
}

@media screen and (max-width: 1000px) {
    .my-account-main-container {
        width: 700px;
        min-height: 56dvh;
        margin: 75px auto 95px auto;
    }
    .my-account-bento-grid {
        flex-direction: column;
    }
    .my-account-section-container {
        width: 100%;
    }
    .my-account-section-content {
        flex-direction: row;
        gap: 4rem;
    }
    .avatar-container {
        display: none;
        width: 70px;
        height: 70px;
        margin: -30px 0 0 0;
        order: 3;
    }
}
@media screen and (max-width: 900px) {
    .my-account-main-container {
        min-height: 63dvh;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 785px) {
    .my-account-main-container {
        width: 450px;
        gap: 3rem;
    }
    .my-account-section-content {
        flex-direction: column;
        gap: 1.5rem;
    }
}
@media screen and (max-width: 525px) {
    .my-account-main-container {
        width: 350px;
    }
    .my-account-main-title {
        font-size: clamp(2.7rem, 3vw, 3.5rem) !important;
    }
}
@media screen and (max-width: 415px) {
    .my-account-main-container {
        width: 300px;
    }
    .my-account-section-shipping-data-title-container {
        flex-direction: column;
    }
}