.about-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    height: 93.5vh;
    overflow: hidden;
}
.about-text-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 70px;
}
.about-description-column-container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}
.about-img-container {
    overflow: hidden;
    height: 100%;
    width: 150vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    aspect-ratio: 187/249;

    &:hover {
        transform: scale(1.07);
    }
}
.social-container {
    display: flex;
    gap: .7rem;
    align-items: center;
    padding-bottom: 1rem;

    a {
        opacity: 1;
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: .7;
        }
    }
}
.about-social-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--text-color);
}
.about-social-logo {
    font-size: 1.2rem;
    padding: 6px;
    color: var(--background-color-gray);
}

@media screen and (max-width: 1229px) {
    .about-text-main-container {
        padding-right: 0;
    }
    .about-img-container, .about-img {
        display: none;
    }
}
@media screen and (max-width: 906px) {
    .about-container {
        height: 95dvh;
    }
    .about-text-main-container {
        gap: 20px;
    }
    .about-description-column-container {
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 690px) {
    .about-container {
        height: auto;
    }
    .social-container {
        display: none !important;
    }
}
@media screen and (max-width: 550px) {
    .about-container {
        padding: 20px 40px;
    }
}
@media screen and (max-width: 360px) {
    .about-container {
        height: 100dvh;
    }
    .about-text-main-container {
        gap: 20px;
    }
}