.login-form-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px auto 100px auto;
  max-width: 500px;
}
.login-no-account-message {
  margin-top: 1.5rem;
}
.login-no-account-link {
  color: var(--text-color);
  font-weight: 600;
  text-decoration: underline;
}
@media screen and (max-width: 984px) {
  .login-form-main-container {
      max-width: 600px;
  }
}
@media screen and (max-width: 690px) {
  .login-form-main-container {
      max-width: 400px;
  }
}
@media screen and (max-width: 478px) {
  .login-form-main-container {
      padding: 0 40px;
      margin: 30px auto 50px auto;
  }
  .login-no-account-message, .login-no-account-link {
    font-size: .95rem;
    text-align: center;
  }
}