.address-item {
    padding: 1rem;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.3s ease;
    background: #f7f7f7;
}
.address-item:hover {
    border-color: var(--text-color);
}
.address-item.selected {
    border-color: #007bff60;
    background-color: #e6f0ff86;
}
.address-selection-unit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.address-selection-unit-heart-icon-container {
    background-color: transparent;
    color: #979797;
    border: 1px solid #979797;
    position: absolute;
    right: 0;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: color .13s ease-in-out, border .13s ease-in-out;

    &:hover {
        color: var(--text-color);
        border: 1px solid var(--text-color);
    }
}
.address-selection-unit-heart-icon {
    font-size: .8rem;
}
.default-address-heart-icon-container {
    background-color: var(--text-color) !important;
    color: var(--background-color-white) !important;
    border: none !important;

    &:hover {
        color: var(--background-color-white);
        border: inherit;
    }
}
.default-badge {
    display: inline-block;
    background: #28a745;
    color: white;
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    margin-top: 0.5rem;
}