.user-address-card {
    padding: 1rem;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: border 0.3s ease;
    background: #f7f7f7;
}

.user-address-card.default {
    border: 2px solid #4caf50;
}

.user-address-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.user-address-line {
    font-size: 0.95rem;
    color: #555;
    margin: 2px 0;
}

.user-address-unit-icons-main-container {
    display: flex;
    gap: .5rem;
    position: absolute;
    right: 0;
}

.user-address-fav-button {
    margin-top: 1rem;
    padding: 0.4rem 0.8rem;
    background-color: #e0e0e0;
    border: none;
    border-radius: 0.4rem;
    font-size: 0.85rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.user-address-fav-button:hover:not(:disabled) {
    background-color: #ccc;
}

.user-address-fav-button:disabled {
    background-color: #4caf50;
    color: white;
    cursor: default;
}
.address-selection-unit-icon-container {
    background-color: transparent;
    color: #979797;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    transition: color .13s ease-in-out, border .13s ease-in-out;

    &:hover {
        background-color: #e7e7e7;
    }
}
.address-selection-unit-heart-icon {
    transform: translateX(0.05rem);
}
.ripple-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(closest-side,
            rgba(0, 0, 0, 0.3) 100%,
            transparent 100%);
    animation: ripple-fade 0.6s forwards;
    pointer-events: none;
    z-index: 0;
}

@keyframes ripple-fade {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 0;
    }
}