.button {
    font-family: "Poppins", sans-serif !important;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 9999px;
    cursor: pointer;
    margin: 5px 0;
    padding: 10px;
    transition: all .1s ease-in-out !important;
}
.menu-btn {
    display: block;
    width: 100%;
}
.cart-button {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    border: none;
    padding: 10px;
}
.admin-add-product-btn {
    font-size: 1rem;
    letter-spacing: -0.02rem;
    text-wrap: nowrap;
    padding: 12px 40px;
}
.product-detail-add {
    font-size: 1rem;
    padding: 1rem;
}
.btn-img {
    height: max-content;
}
.submit-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    background-color: var(--text-color);
    color: var(--background-color-white);
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -0.02rem;
    text-wrap: nowrap;
    border: none;
    border-radius: 9999px;
    transition: opacity .2s;
    cursor: pointer;
    padding: 15px 60px;
    margin: 1rem auto 0 auto;

    &:hover {
        opacity: .8;
    }
}
.btn-primary {
    background-color: var(--text-color);
    border: solid 1px var(--text-color) !important;
    color: var(--background-color-gray) !important;
    transition: all .1s ease-in-out !important;

    &:hover {
        color: var(--background-color-gray) !important;
        background-color: #3d3d3d !important;
    }
}
.btn-secondary {
    color: var(--text-color) !important;
    border: solid 1px #bbbbbb !important;
    transition: all .2s ease-in-out !important;

    &:hover {
        border-color: #000000 !important;
    }
}
.modal-btn {
    padding: 10px 25px;
    width: 7.75rem !important;
}
.checkout-btn {
    width: 11rem;
}
.disabled {
    background-color: #474747 !important;
    border: solid 1px #474747 !important;
    opacity: .9;

    &:hover {
        background-color: #474747 !important;
    }
}

