.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.confirmation-modal-title {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 500;
}

.modal-buttons {
  margin-top: .687rem;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}