.user-addresses-dropdown-menu {
    display: none;
    position: absolute;
    top: 140%;
    right: -13%;
    width: 150px;
    border-radius: 8px;
    background-color: white;
    user-select: none;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.user-addresses-dropdown-menu.open {
    display: block;
}
.user-addresses-dropdown-menu-item-container {
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: .6rem;
    margin: .2rem;
    border-radius: 5px;
    line-height: 1rem;

    &:hover {
        background-color: #f0f0f0;
    }
}
.user-addresses-dropdown-menu-item-text, .user-addresses-dropdown-menu-item-icon {
    font-size: .9rem;
    color: var(--text-color);
}

