.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.form-container h2 {
    font-weight: 500;
    font-size: 1.1rem;
    margin: 15px 0;
}
.form-section {
    margin: 30px 0;
}
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.form-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 2rem;

    select, .date-select {
        font-size: 0.9rem;
        width: fit-content;
        padding: 2px;
        border: 1px solid #999;
        border-radius: 5px;
        background-color: var(--background-color-gray);
    }
}
.select-label {
    font-family: "Poppins";
    font-size: .85rem;
    line-height: 1.1rem;
    color: #727272;
}
.input-group-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.match-error {
    margin-top: -15px;
}
.register-submit-btn {
    margin: 1.5rem auto 2rem auto !important;
}

@media screen and (max-width: 984px) {
    .select-label {
        font-size: .8rem;
    }
    .form-item::placeholder {
        font-size: .8rem;
    }
}

@media screen and (max-width: 690px) {
    .form-section {
        margin-top: 0;
    }
    .form-row {
        flex-direction: column;
        gap: 0;
    } 
    .form-select {
        margin: 15px 0 20px 0;
    }
}