* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary-color: crimson;
  --secondary-color: royalblue;
  --background-color-white: #ffffff;
  --background-color-gray: #fafafa;
  --text-color: #121212;
  --text-color-gray: #6e737e;
  --text-color-secondary: #000000;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color-gray);
  color: var(--text-color);
}
