.checkout-cart-summary {
    flex: 1.5;
    max-width: 500px;
    height: 100%;
}

.checkout-cart-summary-title {
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid var(--text-color);
}

.checkout-cart-summary-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.checkout-cart-summary-sub-container {
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 3px;
        background-color: var(--background-color-gray);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #bbbbbb;
        border-radius: 10px;
    }
}

.checkout-cart-summary-table {
    height: 100%;
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin: 0 auto;

    tbody {
        max-height: 100%;
    }
}

.checkout-cart-summary-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    font-weight: bold;
    width: 100%;
}

@media screen and (max-width: 1220px) {
    .checkout-cart-summary {
        max-width: 400px;
    }
}

@media screen and (max-width: 1038px) {
    .checkout-cart-summary {
        max-width: 650px;
    }
}